<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1 align="center">Welcome to Air Lambton</h1>

    <ul>
      <li><a href="http://127.0.0.1:5000/home">Home</a></li>
      <li><a href="http://127.0.0.1:5000/managebooking">Manage Booking</a></li>
      <li><a class="active" href="http://127.0.0.1:5000/contactus">Contact Us</a></li>
      <li><a href="http://127.0.0.1:5000/faq">FAQ</a></li>
      <li><a href="http://127.0.0.1:5000/covidupdate">Covid19 Updates</a></li>
      <li><a href="http://127.0.0.1:5000/luggage">Luggage</a></li>
    </ul>

    <div class="about-section">
      <h1>Contact detail</h1>
      <p>Phone no: +1 800 299 0000, Email Id: airlambton@gmail.com</p>
      <p>Hours of operation: Monday to Friday 10AM to 5PM</p>
    </div>

    <div class="column">
    <div class="card">
      <div class="centerimg">
          <img src="{{ url_for('static', filename='images/payal.png')}}">
      </div>
      <div class="container">
        <h2>Payal Desai</h2>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <div class="centerimg">
           <img src="{{ url_for('static', filename='images/srikanth.jpg')}}">
       </div>
      <div class="container">
        <h2>Srikanth Yarram</h2>
      </div>
    </div>
  </div>

 <div class="column">
    <div class="card">
       <div class="centerimg">
           <img src="{{ url_for('static', filename='images/yamini.jpg')}}">
       </div>
      <div class="container">
        <h2>Yamini Rathod</h2>
      </div>
    </div>
  </div>

   <div class="column">
    <div class="card">
       <div class="centerimg">
           <img src="{{ url_for('static', filename='images/anjali.jpg')}}">
       </div>
      <div class="container">
        <h2>Anjali Rakholiya</h2>
      </div>
    </div>
  </div>

   <div class="column">
    <div class="card">
       <div class="centerimg">
           <img src="{{ url_for('static', filename='images/ahmed.jpg')}}">
       </div>
      <div class="container">
        <h2>Ahmed Shahid</h2>
      </div>
    </div>
  </div>

<div>
<h2>Contact Form</h2>

<div class="newslettermain">
  <form method="post" name="contactusform" id="contactusform" class="newslettermainform" action="http://127.0.0.1:5000/contactusdata">
    <label>First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your first name..">

    <label>Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

     <label>Email-ID</label>
    <input type="email" id="emailid" name="emailid" placeholder="Your Email ID..">

       <label>Contact Number</label>
       <input type="number" id="contact" name="contact" placeholder="Your Contact Number..">

       <label>Date Of Birth</label>
       <input type="date" id="dob" name="dob">

      <label>City</label>
    <input type="text" id="city" name="city" placeholder="Your city name..">

   <label>State</label>
    <input type="text" id="state" name="state" placeholder="Your state name..">

    <label>Country</label>
    <select id="country" name="country">
      <option value="canada">Canada</option>
      <option value="australia">Australia</option>
      <option value="usa">India</option>
      <option value="canada">Bangladesh</option>
      <option value="australia">Shrilanka</option>
      <option value="usa">Pakistan</option>
    </select>

    <label>Query</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
</div>

<div class="contactus-image-main">
    <img src="{{ url_for('static', filename='images/location.jpg')}}">
</div>

<div class="contactus-image-main">
    <img src="{{ url_for('static', filename='images/contactus1.jpg')}}">
</div>
<div class="copyright">
	&copy; Copyright. Emerging Technology Project.
</div>

</body>
</html>