<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid19 Updates</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1 align="center">Welcome to Air Lambton</h1>

    <ul>
      <li><a href="http://127.0.0.1:5000/home">Home</a></li>
      <li><a href="http://127.0.0.1:5000/managebooking">Manage Booking</a></li>
      <li><a href="http://127.0.0.1:5000/contactus">Contact Us</a></li>
      <li><a href="http://127.0.0.1:5000/faq">FAQ</a></li>
      <li><a class="active" href="http://127.0.0.1:5000/covidupdate">Covid19 Updates</a></li>
      <li><a href="http://127.0.0.1:5000/luggage">Luggage</a></li>
    </ul>

    <div class="covidupdate">
	<h4 align="center">Please find the latest COVID19 updates</h4>

        <blockquote>
	    The National Carrier Air India has always been in the forefront to augment the efforts of the Central Government in times of national calamities. The ongoing evacuation of fellow citizens from affected countries by team Air India has been applauded by no less than The Hon'ble President and The Prime Minister of India.
            <br><br><br>

        It is mandatory for all passengers to wear face mask properly at all times during air travel .KNOW MORE
            <br><br><br>

        Travel and Visa restrictions related to Covid-19 by Bureau of Immigration, Ministry of Home Affairs, Government of India:KNOW MORE
            <br><br><br>

        MoHFW GUIDELINES (For international arrivals effective 23rd February 2021 ) :KNOW MORE
            <br><br><br>

        Standard Operating Procedure (For international arrivals effective 23rd February 2021 ) :KNOW MORE
            <br><br><br>

        International Refunds And Travel Waiver :KNOW MORE
            <br><br><br>

        Domestic Refunds And Travel Waiver :KNOW MORE
            <br><br><br>

        International Travel:KNOW MORE
            <br><br><br>

        Domestic Travel:KNOW MORE
            <br><br><br>
        </blockquote>

    </div>

<div class="copyright">
	&copy; Copyright. Emerging Technology Project.
</div>
</body>
</html>