  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frequently Asked Questions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <h1 align="center">Welcome to Air Lambton</h1>

    <ul>
      <li><a href="http://127.0.0.1:5000/home">Home</a></li>
      <li><a href="http://127.0.0.1:5000/managebooking">Manage Booking</a></li>
      <li><a href="http://127.0.0.1:5000/contactus">Contact Us</a></li>
      <li><a class="active" href="http://127.0.0.1:5000/faq">FAQ</a></li>
      <li><a href="http://127.0.0.1:5000/covidupdate">Covid19 Updates</a></li>
      <li><a href="http://127.0.0.1:5000/luggage">Luggage</a></li>
        <li><a href="http://127.0.0.1:5000/login">Login</a></li>
        <li><a href="http://127.0.0.1:5000/admin">Admin</a></li>
    </ul>

	<div id="faqs">
		<h1 style="padding-left:33px;">FAQs</h1>
		<!--FAQ questions -->
		<div class="accordion">
    <div class="accordion-head">
        <h4>How do I use the online booking service?</h4>

    </div>
    <div class="accordion-body">
        <p>You can start by visiting "Book Online” option of this site. You will then have to follow the process of:<br>
			Search - Find a suitable flight/routing/date<br>
			Select - Display of fares and selection of suitable fares<br>
			Passengers & Payments – Inserting details of passengers and payment details on a secured site<br>
			Confirmation - Getting a confirmation of the booking details.</p>
    </div>
    <div class="accordion-head">
        	<h4>Can I use this service for checking availability and fares without actually purchasing a ticket?</h4><div class="arrow down"></div>

    </div>
    <div class="accordion-body">
        <p>You can check flight availability and fares, as we take the payment only if you choose to complete a booking.</p>
    </div>
	<div class="accordion-head">
        	<h4>Can I book different classes for different legs of my journey?</h4><div class="arrow down"></div>

    </div>
    <div class="accordion-body">
        <p>Yes. You may choose your required cabin for travel in Economy/Business/First, by clicking on the relevant tabs, for your outbound and inbound travel. On the new website, you can have a view of the fares of all cabins in one page. Thus enabling you to take decision for a mixed class journey.</p>
    </div>
	<div class="accordion-head">
        	<h4>How can I book a flight that returns to/from a different airport?</h4><div class="arrow down"></div>

    </div>
    <div class="accordion-body">
        <p>Please use the "Multi-city” link to enter details of your separate flights.</p>
    </div>
	<div class="accordion-head">
        	<h4>Can I avail of Companion offers online?</h4><div class="arrow down"></div>

    </div>
    <div class="accordion-body">
        <p>No, currently this facility is not available for online booking; you may please contact your nearest Air India office.</p>
    </div>
	<div class="accordion-head">
        	<h4>What is the maximum number of travellers for whom I can make an online reservation?</h4><div class="arrow down"></div>

    </div>
    <div class="accordion-body">
        <p>In one online transaction, you can book up to nine (9) passengers, including adults and children in your traveling party. Infants are co-related to the number of adults in the traveling party. The figure could vary in Business and First class depending on the configuration of the aircraft. However, for Code Share bookings it is limited to 4 (Four) passengers per booking.</p>
    </div>
	<div class="accordion-head">
        	<h4>Can I make an online booking for a child traveling alone?</h4><div class="arrow down"></div>

    </div>
    <div class="accordion-body">
        <p>No, you cannot make a booking for a child travelling alone. Please contact your nearest Air India office.</p>
    </div>
	<div class="accordion-head">
        	<h4>Can I purchase an open-dated ticket when I book online?</h4><div class="arrow down"></div>

    </div>
    <div class="accordion-body">
        <p>No. The selected sectors must be booked on a confirmed basis and paid for at the same time.</p>
    </div>
</div>
	</div>
	<div class="customer-care">
		<img src="https://talkroute.com/wp-content/uploads/2016/02/customer-care-talkroute-e1455208719494.png"/>
	</div>
<div class="copyright">
	&copy; Copyright. Emerging Technology Project.
</div>

</body>
</html>
